.collapsed-journey {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.collapsed-journey .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1805px;
  position: relative;
}

.collapsed-journey .overlap {
  position: absolute;
  width: 482px;
  height: 622px;
  top: 1034px;
  left: 744px;
}

.collapsed-journey .rectangle {
  position: absolute;
  width: 480px;
  height: 580px;
  top: 0;
  left: 1px;
  background-color: #fcfcfc;
  border-radius: 15px;
  box-shadow: 1px 1px 4px 2px #00000040;
}

.collapsed-journey .rectangle-2 {
  position: absolute;
  width: 482px;
  height: 430px;
  top: 151px;
  left: 0;
  background-color: #fcfcfc;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid;
  border-color: #d1cece;
}

.collapsed-journey .rectangle-3 {
  position: absolute;
  width: 434px;
  height: 43px;
  top: 152px;
  left: 24px;
  background-color: #f2f2f2;
}

.collapsed-journey .description-to {
  position: absolute;
  width: 433px;
  top: 97px;
  left: 24px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
}

.collapsed-journey .text-wrapper {
  font-weight: 600;
  letter-spacing: 0.05px;
}

.collapsed-journey .span {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.04px;
}

.collapsed-journey .text-wrapper-2 {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.04px;
}

.collapsed-journey .text-wrapper-3 {
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 14px;
  letter-spacing: 0.04px;
}

.collapsed-journey .vector {
  position: absolute;
  width: 16px;
  height: 10px;
  top: 168px;
  left: 38px;
}

.collapsed-journey .rectangle-4 {
  position: absolute;
  width: 480px;
  height: 50px;
  top: 1px;
  left: 1px;
  background-color: #000000;
  border-radius: 15px 15px 0px 0px;
}

.collapsed-journey .text-wrapper-4 {
  position: absolute;
  width: 193px;
  top: 160px;
  left: 68px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
}

.collapsed-journey .rectangle-5 {
  position: absolute;
  width: 436px;
  height: 45px;
  top: 309px;
  left: 24px;
  background-color: #fbfbfb;
  border: 1px solid;
  border-color: #d8d7d7;
}

.collapsed-journey .rectangle-6 {
  position: absolute;
  width: 396px;
  height: 45px;
  top: 500px;
  left: 64px;
  background-color: #fbfbfb;
  border: 1px solid;
  border-color: #d8d7d7;
}

.collapsed-journey .img {
  position: absolute;
  width: 16px;
  height: 10px;
  top: 326px;
  left: 39px;
}

.collapsed-journey .text-wrapper-5 {
  position: absolute;
  width: 193px;
  top: 318px;
  left: 69px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-6 {
  position: absolute;
  width: 193px;
  top: 508px;
  left: 89px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
}

.collapsed-journey .p {
  position: absolute;
  width: 394px;
  top: 210px;
  left: 35px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-7 {
  position: absolute;
  width: 394px;
  top: 555px;
  left: 69px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-8 {
  position: absolute;
  width: 71px;
  top: 260px;
  left: 386px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #5f6060;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-9 {
  position: absolute;
  width: 71px;
  top: 455px;
  left: 386px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #5f6060;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-10 {
  position: absolute;
  width: 424px;
  top: 368px;
  left: 40px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-11 {
  position: absolute;
  top: 14px;
  left: 193px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
}

.collapsed-journey .group {
  position: absolute;
  width: 24px;
  height: 22px;
  top: 16px;
  left: 432px;
}

.collapsed-journey .overlap-group {
  position: relative;
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  border-radius: 11px;
}

.collapsed-journey .text-wrapper-12 {
  position: absolute;
  top: 1px;
  left: 9px;
  font-family: "Poly-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
  white-space: nowrap;
}

.collapsed-journey .overlap-2 {
  position: absolute;
  width: 481px;
  height: 581px;
  top: 1034px;
  left: 213px;
}

.collapsed-journey .rectangle-7 {
  position: absolute;
  width: 480px;
  height: 580px;
  top: 0;
  left: 0;
  background-color: #fcfcfc;
  border-radius: 15px;
  box-shadow: 1px 1px 4px 2px #00000040;
}

.collapsed-journey .rectangle-8 {
  position: absolute;
  width: 481px;
  height: 401px;
  top: 180px;
  left: 0;
  background-color: #fcfcfc;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid;
  border-color: #d1cece;
}

.collapsed-journey .rectangle-9 {
  position: absolute;
  width: 422px;
  height: 142px;
  top: 438px;
  left: 32px;
  background-color: #fbfbfb;
  box-shadow: -2px 2px 6px #00000026;
}

.collapsed-journey .rectangle-10 {
  position: absolute;
  width: 480px;
  height: 50px;
  top: 1px;
  left: 0;
  background-color: #000000;
  border-radius: 15px 15px 0px 0px;
}

.collapsed-journey .description-write-a {
  position: absolute;
  width: 433px;
  top: 78px;
  left: 27px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-13 {
  position: absolute;
  width: 85px;
  top: 208px;
  left: 32px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-14 {
  position: absolute;
  width: 85px;
  top: 317px;
  left: 32px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
}

.collapsed-journey .rectangle-11 {
  position: absolute;
  width: 422px;
  height: 43px;
  top: 247px;
  left: 32px;
  background-color: #fbfbfb;
  border-radius: 5px;
  box-shadow: -2px 2px 6px #00000026;
}

.collapsed-journey .rectangle-12 {
  position: absolute;
  width: 422px;
  height: 82px;
  top: 356px;
  left: 32px;
  background-color: #fbfbfb;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 2px 10px #0000002e;
}

.collapsed-journey .text-wrapper-15 {
  position: absolute;
  width: 22px;
  top: 368px;
  left: 52px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #606060;
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-16 {
  position: absolute;
  width: 24px;
  top: 368px;
  left: 89px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #606060;
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-17 {
  position: absolute;
  width: 30px;
  top: 368px;
  left: 128px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #606060;
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-18 {
  position: absolute;
  width: 36px;
  top: 368px;
  left: 173px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #606060;
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-19 {
  position: absolute;
  width: 46px;
  top: 368px;
  left: 224px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #606060;
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-20 {
  position: absolute;
  width: 33px;
  top: 368px;
  left: 285px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #606060;
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-21 {
  position: absolute;
  width: 35px;
  top: 368px;
  left: 333px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #606060;
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-22 {
  position: absolute;
  width: 28px;
  top: 368px;
  left: 383px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #606060;
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.collapsed-journey .arrow-curve-left {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 401px;
  left: 78px;
}

.collapsed-journey .arrow-curve-left-2 {
  position: absolute;
  width: 21px;
  height: 18px;
  top: 402px;
  left: 47px;
}

.collapsed-journey .text-wrapper-23 {
  position: absolute;
  top: 14px;
  left: 145px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
}

.collapsed-journey .rectangle-13 {
  position: absolute;
  width: 102px;
  height: 18px;
  top: 402px;
  left: 148px;
  background-color: #ebebeb;
}

.collapsed-journey .text-wrapper-24 {
  position: absolute;
  width: 78px;
  top: 402px;
  left: 151px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #606060;
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.collapsed-journey .ellipse {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 408px;
  left: 262px;
  background-color: #606060;
  border-radius: 2.5px;
}

.collapsed-journey .ellipse-2 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 408px;
  left: 269px;
  background-color: #606060;
  border-radius: 2.5px;
}

.collapsed-journey .ellipse-3 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 408px;
  left: 276px;
  background-color: #606060;
  border-radius: 2.5px;
}

.collapsed-journey .arrow-expand {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 401px;
  left: 113px;
}

.collapsed-journey .overlap-wrapper {
  position: absolute;
  width: 24px;
  height: 22px;
  top: 15px;
  left: 430px;
}

.collapsed-journey .group-2 {
  position: absolute;
  width: 1440px;
  height: 90px;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  box-shadow: 0px 4px 4px #00000040;
}

.collapsed-journey .ellipse-4 {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 28px;
  left: 1291px;
  object-fit: cover;
}

.collapsed-journey .ellipse-5 {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 41px;
  left: 1354px;
  background-color: var(--info);
  border-radius: 1.51px/1.5px;
}

.collapsed-journey .ellipse-6 {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 47px;
  left: 1354px;
  background-color: var(--info);
  border-radius: 1.51px/1.5px;
}

.collapsed-journey .ellipse-7 {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 53px;
  left: 1354px;
  background-color: var(--info);
  border-radius: 1.51px/1.5px;
}

.collapsed-journey .overlap-3 {
  position: absolute;
  width: 32px;
  height: 33px;
  top: 31px;
  left: 1236px;
}

.collapsed-journey .ellipse-8 {
  position: absolute;
  width: 30px;
  height: 33px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 15.13px/16.26px;
}

.collapsed-journey .vector-2 {
  position: absolute;
  width: 31px;
  height: 33px;
  top: 0;
  left: 1px;
}

.collapsed-journey .ellipse-9 {
  position: absolute;
  width: 7px;
  height: 8px;
  top: 7px;
  left: 19px;
  background-color: #ff2c55;
  border-radius: 3.53px/3.79px;
}

.collapsed-journey .logo {
  position: absolute;
  width: 80px;
  height: 49px;
  top: 20px;
  left: 35px;
}
.collapsed-journey .ll{
    background-image: linear-gradient(to right, black 22%, blue 50%);
  background-clip: text;
  color: transparent;
    position: absolute;
    left: 150px;
}

.collapsed-journey .overlap-group-wrapper {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 33px;
  left: 1186px;
}

.collapsed-journey .div-wrapper {
  position: relative;
  width: 30px;
  height: 32px;
  background-color: var(--info);
  border-radius: 15px/16.18px;
}

.collapsed-journey .text-wrapper-25 {
  position: absolute;
  width: 15px;
  top: 6px;
  left: 8px;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: normal;
}

.collapsed-journey .group-3 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 33px;
  left: 1133px;
}

.collapsed-journey .text-wrapper-26 {
  width: 17px;
  top: 6px;
  left: 7px;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-size: 15px;
  letter-spacing: 0.3px;
  position: absolute;
  font-weight: 400;
  color: #ffffff;
  line-height: normal;
}

.collapsed-journey .overlap-4 {
  position: absolute;
  width: 1253px;
  height: 870px;
  top: 107px;
  left: 187px;
}

.collapsed-journey .text-wrapper-27 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #0029ff;
  font-size: 28px;
  letter-spacing: 0.56px;
  line-height: normal;
}

.collapsed-journey .overlap-5 {
  position: absolute;
  width: 480px;
  height: 580px;
  top: 290px;
  left: 27px;
  background-color: #fcfcfc;
  border-radius: 15px;
  box-shadow: 0px -4px 4px #00000040, 0px 4px 4px #00000040;
}

.collapsed-journey .div-2 {
  position: absolute;
  width: 480px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #000000;
  border-radius: 15px 15px 0px 0px;
}

.collapsed-journey .text-wrapper-28 {
  position: absolute;
  top: 13px;
  left: 117px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
}

.collapsed-journey .group-4 {
  position: absolute;
  width: 24px;
  height: 22px;
  top: 14px;
  left: 429px;
}

.collapsed-journey .overlap-6 {
  position: absolute;
  width: 480px;
  height: 359px;
  top: 68px;
  left: 0;
}

.collapsed-journey .description-story-of {
  position: absolute;
  width: 453px;
  top: 0;
  left: 11px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-29 {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.04px;
}

.collapsed-journey .image {
  position: absolute;
  width: 480px;
  height: 291px;
  top: 68px;
  left: 0;
  object-fit: cover;
}

.collapsed-journey .overlap-7 {
  position: absolute;
  width: 481px;
  height: 580px;
  top: 290px;
  left: 559px;
}

.collapsed-journey .rectangle-14 {
  position: absolute;
  width: 480px;
  height: 580px;
  top: 0;
  left: 0;
  background-color: #fcfcfc;
  border-radius: 15px;
  box-shadow: 0px -4px 4px #00000040, 0px 4px 4px #00000040;
}

.collapsed-journey .text-wrapper-30 {
  position: absolute;
  top: 13px;
  left: 192px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
}

.collapsed-journey .rectangle-15 {
  position: absolute;
  width: 480px;
  height: 86px;
  top: 50px;
  left: 0;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px #00000040;
}

.collapsed-journey .description-watch {
  position: absolute;
  width: 458px;
  top: 68px;
  left: 10px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
}

.collapsed-journey .group-5 {
  position: absolute;
  width: 480px;
  height: 40px;
  top: 137px;
  left: 1px;
}

.collapsed-journey .overlap-8 {
  position: relative;
  width: 478px;
  height: 40px;
  background-color: #fdffc033;
  border: 0.1px solid;
  border-color: #00000066;
}

.collapsed-journey .text-wrapper-31 {
  position: absolute;
  width: 90px;
  top: 6px;
  left: 97px;
  -webkit-text-stroke: 0.1px #00000066;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.collapsed-journey .vector-3 {
  position: absolute;
  width: 16px;
  height: 10px;
  top: 152px;
  left: 11px;
}

.collapsed-journey .group-wrapper {
  position: absolute;
  width: 425px;
  height: 108px;
  top: 446px;
  left: 27px;
}

.collapsed-journey .group-6 {
  width: 429px;
  height: 108px;
}

.collapsed-journey .overlap-group-2 {
  position: relative;
  width: 425px;
  height: 108px;
}

.collapsed-journey .bg-layer {
  position: absolute;
  width: 425px;
  height: 65px;
  top: 0;
  left: 0;
  background-color: #0000000d;
  border-radius: 10px;
  border: 0.1px solid;
  border-color: #333333;
  box-shadow: 1px 3px 8px #00000040;
  opacity: 0.5;
}

.collapsed-journey .bg-layer-wrapper {
  position: absolute;
  width: 425px;
  height: 83px;
  top: 25px;
  left: 0;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.collapsed-journey .bg-layer-2 {
  height: 83px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 0.1px solid;
  border-color: #333333;
  box-shadow: 1px 3px 8px #00000040;
  opacity: 0.5;
}

.collapsed-journey .text-wrapper-32 {
  position: absolute;
  width: 152px;
  top: 4px;
  left: 15px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.collapsed-journey .text-wrapper-33 {
  position: absolute;
  width: 88px;
  top: 32px;
  left: 15px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #999999;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.collapsed-journey .group-7 {
  position: absolute;
  width: 117px;
  height: 20px;
  top: 329px;
  left: 109px;
}

.collapsed-journey .group-8 {
  position: absolute;
  width: 199px;
  height: 95px;
  top: 207px;
  left: 27px;
}

.collapsed-journey .group-9 {
  width: 203px;
  height: 95px;
}

.collapsed-journey .overlap-group-3 {
  position: relative;
  width: 199px;
  height: 95px;
}

.collapsed-journey .bg-layer-3 {
  position: absolute;
  width: 199px;
  height: 65px;
  top: 0;
  left: 0;
  background-color: #0000000d;
  border-radius: 10px;
  border: 0.1px solid;
  border-color: #333333;
  box-shadow: 1px 3px 8px #00000040;
  opacity: 0.5;
}

.collapsed-journey .bg-layer-4 {
  position: absolute;
  width: 199px;
  height: 70px;
  top: 25px;
  left: 0;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.collapsed-journey .bg-layer-5 {
  height: 70px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 0.1px solid;
  border-color: #333333;
  box-shadow: 1px 3px 8px #00000040;
  opacity: 0.5;
}

.collapsed-journey .text-wrapper-34 {
  position: absolute;
  top: 32px;
  left: 7px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #6c757d;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.collapsed-journey .text-wrapper-35 {
  position: absolute;
  top: 4px;
  left: 7px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.collapsed-journey .group-10 {
  position: absolute;
  width: 199px;
  height: 94px;
  top: 207px;
  left: 253px;
}

.collapsed-journey .group-11 {
  width: 203px;
  height: 94px;
}

.collapsed-journey .overlap-group-4 {
  position: relative;
  width: 199px;
  height: 94px;
}

.collapsed-journey .bg-layer-6 {
  position: absolute;
  width: 199px;
  height: 64px;
  top: 0;
  left: 0;
  background-color: #0000000d;
  border-radius: 10px;
  border: 0.1px solid;
  border-color: #333333;
  box-shadow: 1px 3px 8px #00000040;
  opacity: 0.5;
}

.collapsed-journey .bg-layer-7 {
  position: absolute;
  width: 199px;
  height: 69px;
  top: 25px;
  left: 0;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.collapsed-journey .bg-layer-8 {
  height: 69px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 0.1px solid;
  border-color: #333333;
  box-shadow: 1px 3px 8px #00000040;
  opacity: 0.5;
}

.collapsed-journey .group-12 {
  position: absolute;
  width: 93px;
  height: 32px;
  top: 323px;
  left: 253px;
}

.collapsed-journey .overlap-9 {
  position: relative;
  width: 91px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px #00000040;
}

.collapsed-journey .text-wrapper-36 {
  position: absolute;
  top: 8px;
  left: 4px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.collapsed-journey .vector-4 {
  position: absolute;
  width: 10px;
  height: 6px;
  top: 13px;
  left: 75px;
}

.collapsed-journey .group-13 {
  position: absolute;
  width: 93px;
  height: 32px;
  top: 323px;
  left: 361px;
}

.collapsed-journey .component {
  width: 97px;
  top: 391px;
  left: 27px;
  position: absolute;
  height: 36px;
  background-color: #0029ff;
  border-radius: 10px;
}

.collapsed-journey .group-14 {
  position: relative;
  width: 82px;
  height: 21px;
  top: 7px;
  left: 8px;
}

.collapsed-journey .text-wrapper-37 {
  width: 9px;
  top: 0;
  left: 0;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 20px;
  letter-spacing: 0;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  color: #ffffff;
  line-height: normal;
}

.collapsed-journey .text-wrapper-38 {
  position: absolute;
  width: 60px;
  top: 4px;
  left: 18px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.collapsed-journey .group-15 {
  position: absolute;
  width: 24px;
  height: 22px;
  top: 14px;
  left: 430px;
}

.collapsed-journey .overlap-10 {
  position: absolute;
  width: 1253px;
  height: 394px;
  top: 1px;
  left: 0;
}

.collapsed-journey .rectangle-16 {
  position: absolute;
  width: 1066px;
  height: 135px;
  top: 79px;
  left: 0;
  background-color: #e9ecef;
  border-radius: 5px;
}

.collapsed-journey .group-16 {
  position: absolute;
  width: 1016px;
  height: 85px;
  top: 104px;
  left: 27px;
}

.collapsed-journey .text-wrapper-39 {
  position: absolute;
  width: 374px;
  top: 0;
  left: 0;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: normal;
}

.collapsed-journey .text-wrapper-40 {
  position: absolute;
  width: 1012px;
  top: 40px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: normal;
}

.collapsed-journey .rectangle-17 {
  position: absolute;
  width: 95px;
  height: 394px;
  top: 0;
  left: 1158px;
  background-color: #ffffff;
  border-radius: 30px 0px 0px 30px;
  box-shadow: 0px -4px 4px #00000040, 0px 4px 4px #00000040;
}

.collapsed-journey .rectangle-18 {
  position: absolute;
  width: 394px;
  height: 50px;
  top: 172px;
  left: 986px;
  background-color: #000000;
  border-radius: 30px 30px 0px 0px;
  transform: rotate(-90deg);
}

.collapsed-journey .n-o-t-i-c-e-b-o-a-r {
  position: absolute;
  top: 75px;
  left: 1179px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
}


.collapsed-journey .x {
  position: absolute;
  width: 34px;
  height: 38px;
  top: 12px;
  left: 1168px;
}

.collapsed-journey .component-2 {
  width: 121px;
  top: 1px;
  left: 945px;
  position: absolute;
  height: 36px;
  background-color: #0029ff;
  border-radius: 10px;
}

.collapsed-journey .group-17 {
  position: relative;
  width: 75px;
  height: 18px;
  top: 9px;
  left: 24px;
}

.collapsed-journey .text-wrapper-41 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.collapsed-journey .overlap-11 {
  position: absolute;
  width: 132px;
  height: 742px;
  top: 90px;
  left: 0;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 4px 4px 1px #00000040;
}

.collapsed-journey .overlap-12 {
  position: absolute;
  width: 132px;
  height: 692px;
  top: 50px;
  left: 0;
  border-radius: 0px 0px 20px 20px;
}

.collapsed-journey .rectangle-19 {
  position: absolute;
  width: 132px;
  height: 692px;
  top: 0;
  left: 0;
  background-color: #fcfcfc;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 1px 1px #00000040;
}

.collapsed-journey .rectangle-20 {
  position: absolute;
  width: 68px;
  height: 68px;
  top: 26px;
  left: 32px;
  border-radius: 20px;
  border: 1px solid;
  border-color: #0029ff;
}

.collapsed-journey .text-wrapper-42 {
  position: absolute;
  top: 32px;
  left: 60px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #0029ff;
  font-size: 36px;
  letter-spacing: 0.72px;
  line-height: normal;
}

.collapsed-journey .rectangle-21 {
  position: absolute;
  width: 132px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #000000;
  border-radius: 0px 20px 0px 0px;
}

.collapsed-journey .group-18 {
  position: absolute;
  width: 131px;
  height: 32px;
  top: 709px;
  left: 1465px;
}

.collapsed-journey .overlap-13 {
  position: absolute;
  width: 129px;
  height: 32px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px #00000040;
}

.collapsed-journey .text-wrapper-43 {
  position: absolute;
  top: 8px;
  left: 15px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.collapsed-journey .vector-5 {
  position: absolute;
  width: 10px;
  height: 6px;
  top: 4878px;
  left: 1840px;
}

.collapsed-journey .question-mark-wrapper {
  position: absolute;
  width: 85px;
  height: 85px;
  top: 1490px;
  left: 1303px;
  background-color: #0029ff;
  border-radius: 42.5px;
}

.collapsed-journey .question-mark {
  position: absolute;
  width: 37px;
  height: 40px;
  top: 22px;
  left: 24px;
  object-fit: cover;
}

.collapsed-journey .meeting-wrapper {
  position: absolute;
  width: 85px;
  height: 85px;
  top: 1596px;
  left: 1303px;
  background-color: #0029ff;
  border-radius: 42.5px;
}

.collapsed-journey .meeting {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 19px;
  left: 20px;
  object-fit: cover;
}

.collapsed-journey .schedule-wrapper {
  position: absolute;
  width: 85px;
  height: 85px;
  top: 1702px;
  left: 1303px;
  background-color: #0029ff;
  border-radius: 42.5px;
}

.collapsed-journey .schedule {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 20px;
  object-fit: cover;
}
